<h1>New meeting</h1>

<%= form_with scope: :meetings, url: meetings_path, local: true do |meeting| %>

	<p>
	<%= form.label :title %><br>
	<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :text %><br>
		<%= form.text_area :text %>
	</p>

	<p>
		<%= form.submit, 'Save' %>
	</p>

<% end %>
