
<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<h2>Tasks</h2>
<%= render @meeting.tasks %>

<%= render 'tasks/form' %>

<!--<iframe src="Url" height="100px" width="200px"></iframe>-->

<%= link_to 'Edit', edit_meeting_path(@meeting) %>
<%= link_to 'Back', meetings_path %>


