<h2 style="color: #0000FF";>Add a task:</h2>

<%= form_for([@meeting, @task]) do |f| %>
  <%= f.hidden_field :meeting_id %>

  <p>
    <%= f.label :assignee, 'Assignee' %><br>
    <%= f.text_field :assignee %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>






